<form [formGroup]="form">
  <div class="row" *ngIf="!isStoreRequest()">
    <div class="col-lg-4 col-12">
      <mat-form-field>
        <mat-label>{{ "cargoRequest.deliverCargoBy" | translate }}</mat-label>
        <input
          matInput
          formControlName="carryOutBefore"
          placeholder="{{ 'cargoRequest.deliverCargoBy' | translate }}"
          required
          [matDatepicker]="picker"
          [min]="todayDate"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error *ngIf="carryOutBefore?.invalid && carryOutBefore?.touched">
          {{ "validation.requiredField" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row" *ngIf="isStoreRequest()">
    <div class="col-lg-4 col-12">
      <mat-form-field>
        <mat-label>{{ "cargoRequest.storeFromDate" | translate }}</mat-label>
        <input
          matInput
          formControlName="storeFromDate"
          placeholder="{{ 'cargoRequest.storeFromDate' | translate }}"
          required
          [matDatepicker]="picker2"
          [min]="todayDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker2"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
        <mat-error *ngIf="storeFromDate?.invalid && storeFromDate?.touched">
          {{ "validation.requiredField" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
    <div class="col-lg-4 col-12">
      <mat-form-field>
        <mat-label>{{ "cargoRequest.storeByDate" | translate }}</mat-label>
        <input
          matInput
          formControlName="storeUntilDate"
          placeholder="{{ 'cargoRequest.storeByDate' | translate }}"
          required
          [matDatepicker]="picker3"
          [min]="todayDate"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker3"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker3></mat-datepicker>
        <mat-error *ngIf="storeUntilDate?.invalid && storeUntilDate?.touched">
          {{ "validation.requiredField" | translate }}
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-4 col-12">
      <mat-checkbox
        formControlName="isSecurityModeEnabled"
        matTooltip="{{ 'cargoRequest.securityModeToolTip' | translate }}"
        >{{ "cargoRequest.securityMode" | translate }}</mat-checkbox
      >
    </div>
  </div>
</form>
