<form [formGroup]="form">
  <div class="row">
    <div class="col-lg-12 col-12">
      <mat-radio-group
        class="radio-group"
        aria-label="Select an option"
        formControlName="requestType"
        required
      >
        <mat-radio-button class="radio-button" value="1">{{
          "cargoRequest.cargoTransportation" | translate
        }}</mat-radio-button>
        <mat-radio-button class="radio-button" value="0">{{
          "cargoRequest.cargoStorage" | translate
        }}</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
</form>
