<div class="main container-fluid p-3">
  <h1 class="text-center">{{ "adminFeatures.storeManagement" | translate }}</h1>
  <div class="row justify-content-center mb-3">
    <div class="col-lg-12 m-3">
      <button class="w-100" mat-raised-button (click)="onAddStoreCLick()">
        {{ "adminFeatures.addNewStore" | translate }}
      </button>
    </div>
    <div class="col-lg-12 mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>
            {{ "adminFeatures.storeName" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.name }}
          </td>
        </ng-container>

        <ng-container matColumnDef="maxCargoVolume">
          <th mat-header-cell *matHeaderCellDef>
            {{ "adminFeatures.storeVolume" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.maxCargoVolume }}
          </td>
        </ng-container>

        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>
            {{ "adminFeatures.storeAddress" | translate }}
          </th>
          <td mat-cell *matCellDef="let element">
            {{ element.address.country }}, {{ element.address.city }},
            {{ element.address.street }}
          </td>
        </ng-container>

        <ng-container matColumnDef="delete">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-raised-button
              color="warn"
              (click)="onDeleteCLick(element)"
            >
              {{ "common.delete" | translate }}
            </button>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <div *ngIf="isStoresLoading">
        <app-spinner></app-spinner>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>
  <div>
    <mat-card class="mat-elevation-z8">
      <div class="row justify-content-center">
        <div class="col-lg-12">
          <h3 class="badge badge-primary">
            {{ "adminFeatures.mapLegend" | translate }}
          </h3>
        </div>
        <div class="col-lg-5">
          <img
            src="https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|4286f4"
          /><span class="ml-2 font-weight-bold">{{
            "adminFeatures.optimalStores" | translate
          }}</span>
        </div>
        <div class="col-lg-5">
          <img
            src="https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|FF0000"
          /><span class="ml-2 font-weight-bold">{{
            "adminFeatures.currentStores" | translate
          }}</span>
        </div>
      </div>
    </mat-card>
  </div>
  <div>
    <agm-map
      [latitude]="markers[0]?.latitude || 0"
      [longitude]="markers[0]?.longtitude || 0"
    >
      <agm-marker
        *ngFor="let marker of markers"
        [latitude]="marker.latitude"
        [longitude]="marker.longtitude"
        [label]="marker.labelOptions"
      ></agm-marker>
      <agm-marker
        *ngFor="let optimalMarker of optimalStoresMarkers"
        [latitude]="optimalMarker.latitude"
        [longitude]="optimalMarker.longtitude"
        [label]="optimalMarker.labelOptions"
        [iconUrl]="
          'https://chart.apis.google.com/chart?chst=d_map_pin_letter&chld=%E2%80%A2|4286f4'
        "
      ></agm-marker>
    </agm-map>
  </div>
</div>
