<div class="container">
  <form>
    <div class="container-fluid p-3 d-flex flex-column">
      <div class="cargo-wrapper mb-3">
        <div
          *ngFor="let cargo of initialCargo.cargo; let i = index"
          class="indicator-item p-2 mr-2 mb-2"
          [class.selected]="selectedIndex == i"
          (click)="onCargoItemClick(i)"
        >
          <div>
            <span class="cargo-item"
              >{{ "common.cargo" | translate }} №{{ i + 1 }}</span
            >
          </div>
        </div>
      </div>
      <div class="row d-flex justify-content-around">
        <div>
          <app-unit-selection-form
            [header]="temperatureHeader"
            [options]="availableTemperatureUnits"
            [unitType]="temperatureUnitType"
            [selectedItem]="defaultTemperatureUnit"
          ></app-unit-selection-form>
        </div>
        <div>
          <app-unit-selection-form
            [header]="humidityHeader"
            [options]="availableHumidityUnitTypes"
            [unitType]="humidityUnitType"
            [selectedItem]="defaultHumidityUnit"
          ></app-unit-selection-form>
        </div>
        <div>
          <app-unit-selection-form
            [header]="luminosityHeader"
            [options]="availableLuminosityUnits"
            [unitType]="luminosityUnitType"
            [selectedItem]="defaultLuminosityUnit"
          ></app-unit-selection-form>
        </div>
      </div>
      <app-indicator-item-form
        #indicatorItemForm
        (valueChanges)="onIndicatorSettingValueChanges()"
        class="setting-wrapper"
        [cargoSettings]="initialCargo.cargo[selectedIndex]?.settings || []"
        [environmentSettings]="environmentSettings"
        [addCargoModel]="initialCargo.cargo[selectedIndex]"
      ></app-indicator-item-form>
    </div>
  </form>
</div>
