<h1 mat-dialog-title>{{ "common.signin" | translate }}</h1>
<div mat-dialog-content>
  <form [formGroup]="form">
    <div class="row">
      <div class="col-lg-12 col-12">
        <mat-form-field>
          <mat-label>{{ "common.userName" | translate }}</mat-label>
          <input
            matInput
            type="text"
            formControlName="userName"
            placeholder="{{ 'common.userName' | translate }}"
            required
          />
          <mat-error *ngIf="userName?.invalid && userName?.touched">
            {{ "validation.userNameRequired" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-12">
        <mat-form-field>
          <mat-label>{{ "common.password" | translate }}</mat-label>
          <input
            matInput
            type="password"
            formControlName="password"
            placeholder="{{ 'common.password' | translate }}"
            required
          />
          <mat-error *ngIf="password?.invalid && password?.touched">
            {{ "validation.passwordRequired" | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
  </form>
  <div *ngIf="isInvalidCredentials()" class="alert alert-danger">
    {{ "login.usernameOrPasswordInvalid" | translate }}
  </div>
  <div *ngIf="isEmailConfirmationRequired()" class="alert alert-danger">
    {{ "login.emailConfirmationRequired" | translate }}
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close="yes">
    {{ "common.close" | translate }}
  </button>
  <button
    type="submit"
    mat-button
    [disabled]="this.form.invalid"
    (click)="onLoginButtonClick()"
  >
    <app-spinner *ngIf="isLoggingIn" [diameter]="25"></app-spinner>
    <span *ngIf="!isLoggingIn">{{ "common.login" | translate }}</span>
  </button>
</div>
