<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let cargoRequest of cargoRequests; let index = index"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      {{ "common.cargo" | translate }} №{{ index + 1 }}
      <span class="example-accordion-item-description">
        {{ "common.clickTo" | translate }}
        {{
          accordionItem.expanded
            ? ("common.close" | translate)
            : ("common.open" | translate)
        }}
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <div class="row d-flex flex-row">
        <div class="col-lg-6">
          <p>
            {{ "cargoRequest.description" | translate }}:
            {{ cargoRequest.cargo.description }}
          </p>
          <p>
            {{ "statuses.status" | translate }}:
            <span [class]="defineCardClass(index)">{{
              getStatusName(index)
            }}</span>
          </p>
          <p>
            {{ "cargoRequest.weight" | translate }}:
            {{ cargoRequest.cargo.weight | number }}
          </p>
          <p>
            {{ "cargoRequest.length" | translate }}:
            {{ cargoRequest.cargo.length | number }}
          </p>
          <p>
            {{ "cargoRequest.height" | translate }}:
            {{ cargoRequest.cargo.height | number }}
          </p>
          <p>
            {{ "cargoRequest.width" | translate }}:
            {{ cargoRequest.cargo.width | number }}
          </p>
          <p>
            {{ "cargoRequest.amount" | translate }}:
            {{ cargoRequest.cargo.amount }}
          </p>
        </div>
        <div class="col-lg-6">
          <p class="text-center font-weight-bold">
            {{ "common.setting" | translate }}
          </p>
          <div *ngFor="let setting of cargoRequest.cargo.cargoSettings">
            <p>
              <span class="font-weight-bold">{{
                translateSetting(setting.environmentSetting.name)
              }}</span
              >: {{ "common.minValue" | translate }}:{{
                setting.minValue | number
              }}
              {{ "common.maxValue" | translate }}:{{
                setting.maxValue | number
              }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
