<cdk-accordion class="example-accordion">
  <cdk-accordion-item
    *ngFor="let cargoRequest of cargoRequests; let index = index"
    #accordionItem="cdkAccordionItem"
    class="example-accordion-item"
    role="button"
    tabindex="0"
    [attr.id]="'accordion-header-' + index"
    [attr.aria-expanded]="accordionItem.expanded"
    [attr.aria-controls]="'accordion-body-' + index"
  >
    <div class="example-accordion-item-header" (click)="accordionItem.toggle()">
      {{ "common.cargo" | translate }} №{{ index + 1 }}
      <span class="example-accordion-item-description">
        {{ "common.clickTo" | translate }}
        {{
          accordionItem.expanded
            ? ("common.close" | translate)
            : ("common.open" | translate)
        }}
      </span>
    </div>
    <div
      class="example-accordion-item-body"
      role="region"
      [style.display]="accordionItem.expanded ? '' : 'none'"
      [attr.id]="'accordion-body-' + index"
      [attr.aria-labelledby]="'accordion-header-' + index"
    >
      <div
        *ngIf="isStatusInProgress(index)"
        class="row d-flex flex-row justify-content-center"
      >
        <button
          (click)="onShowCurrentSettingsClick(index)"
          class="btn btn-sm btn-primary mt-0 pt-0 mb-2"
        >
          <app-spinner
            *ngIf="isCargoSnapshotsLoading"
            [diameter]="25"
          ></app-spinner>
          <span *ngIf="!isCargoSnapshotsLoading">{{
            "cargoRequest.showCurrentSettings" | translate
          }}</span>
        </button>
      </div>
      <div
        *ngIf="showPhotosButtonVisible(index)"
        class="row d-flex flex-row justify-content-center"
      >
        <button
          (click)="onShowPhotosClick(index)"
          class="btn btn-info btn-sm btn-primary mt-0 mb-2"
        >
          <app-spinner
            *ngIf="isCargoPhotosLoading"
            [diameter]="25"
          ></app-spinner>
          <span *ngIf="!isCargoPhotosLoading">{{
            "cargoRequest.showPhotos" | translate
          }}</span>
        </button>
      </div>
      <div class="row d-flex flex-row">
        <div class="col-lg-6">
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.description" | translate }}:
            </span>
            {{ cargoRequest.cargo.description }}
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "statuses.status" | translate }}:
            </span>
            <span [class]="defineCardClass(index)">{{
              getStatusName(index)
            }}</span>
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.weight" | translate }}:
            </span>
            {{ cargoRequest.cargo.weight | number }}
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.length" | translate }}:
            </span>
            {{ cargoRequest.cargo.length | number }}
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.height" | translate }}:
            </span>
            {{ cargoRequest.cargo.height | number }}
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.width" | translate }}:
            </span>
            {{ cargoRequest.cargo.width | number }}
          </p>
          <p>
            <span class="font-weight-bold"
              >{{ "cargoRequest.amount" | translate }}:
            </span>
            {{ cargoRequest.cargo.amount }}
          </p>
        </div>
        <div class="col-lg-6">
          <div>
            <p class="text-center font-weight-bold">
              {{ "common.setting" | translate }}
            </p>
            <div *ngFor="let setting of cargoRequest.cargo.cargoSettings">
              <p>
                <span class="font-weight-bold">{{
                  translateSetting(setting.environmentSetting.name)
                }}</span
                >: {{ "common.minValue" | translate }}:{{
                  setting.minValue | number
                }}
                {{ "common.maxValue" | translate }}:{{
                  setting.maxValue | number
                }}
              </p>
            </div>
          </div>
          <div *ngIf="!isDeliveryRequest(index)" class="mb-2">
            <p class="text-center font-weight-bold">
              {{ "cargoRequest.storeAddress" | translate }}
            </p>
            {{ cargoRequest.store?.address?.country }},
            {{ cargoRequest.store?.address?.city }},
            {{ cargoRequest.store?.address?.street }}
          </div>
          <div *ngIf="!isDeliveryRequest(index)">
            <p class="text-center font-weight-bold">
              {{ "cargoRequest.securityMode" | translate }}
            </p>
            {{
              cargoRequest.request.isSecurityModeEnabled
                ? ("common.enabled" | translate)
                : ("common.disabled" | translate)
            }}
          </div>
        </div>
      </div>
    </div>
  </cdk-accordion-item>
</cdk-accordion>
