<div class="main container-fluid p-3">
  <h2>{{ "cargoRequest.header" | translate }}</h2>
  <a href="#">{{ "cargoRequest.reviewRequests" | translate }}</a>
  <div class="container-fluid d-flex justify-content-center m-1 w-100">
    <mat-tab-group class="w-100" dynamicHeight #tabGroup>
      <mat-tab label="{{ 'cargoRequest.requestType' | translate }}" disabled>
        <div class="mt-3">
          <app-request-type-form-container
            #requestTypeForm
            [request]="request"
          ></app-request-type-form-container>
          <button
            class="m-2"
            color="primary"
            mat-raised-button
            (click)="onNavigateTabButtonClick(tabGroup, true)"
          >
            {{ "common.next" | translate }}
          </button>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'cargoRequest.requestDetails' | translate }}" disabled>
        <div class="mt-3">
          <ng-template matTabContent>
            <app-request-details-form-container
              #requestDetailsForm
              [request]="request"
            ></app-request-details-form-container>
            <button
              class="m-2"
              mat-raised-button
              (click)="onNavigateTabButtonClick(tabGroup, false)"
            >
              {{ "common.back" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="onNavigateTabButtonClick(tabGroup, true)"
              [disabled]="!requestDetailsFormComponent?.isFormValid()"
            >
              {{ "common.next" | translate }}
            </button>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab label="{{ 'cargoRequest.cargoDetails' | translate }}" disabled>
        <div class="mt-3">
          <ng-template matTabContent>
            <app-cargo-form-container
              #cargoForm
              [cargo]="cargo"
            ></app-cargo-form-container>
            <button
              class="m-2"
              mat-raised-button
              (click)="onNavigateTabButtonClick(tabGroup, false)"
            >
              {{ "common.back" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="onNavigateTabButtonClick(tabGroup, true)"
              [disabled]="!cargoFormComponent?.isFormValid()"
            >
              {{ "common.next" | translate }}
            </button>
          </ng-template>
        </div>
      </mat-tab>
      <mat-tab
        label="{{ 'cargoRequest.indicatorsSettings' | translate }}"
        disabled
      >
        <div class="mt-3">
          <ng-template matTabContent>
            <app-indicators-setup-container
              #indicatorsSetupForm
              [cargo]="cargo"
            ></app-indicators-setup-container>
            <button
              class="m-2"
              mat-raised-button
              (click)="onNavigateTabButtonClick(tabGroup, false)"
            >
              {{ "common.back" | translate }}
            </button>
            <button
              mat-raised-button
              color="primary"
              [disabled]="!indicatorsSetupFormComponent?.isFormValid()"
            >
              {{ "common.submit" | translate }}
            </button>
          </ng-template>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
